@import url(./common.css);



.container .content .content_title{ 
    width: 100%; min-height: 250px;
    padding: 90px 0; 
    position: relative;
    background-color: #00a0e9;
    vertical-align: middle;
}

.container .content .content_title .title_deco{
    width: 49.474%; height: 78.95%;
    min-width: 940px;
    margin: -3% auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.container .content .content_title .title_deco > figure{ width: 150px; height: 150px;}
.container .content .content_title .title_deco > figure > img{ width: 100%; }
.container .content .content_title::after{
    content: '';
    position: absolute;
    background: url(../img/common/frame_ice.png) repeat-x left bottom;
    width: 100%; height: 45px;
    bottom: 0;
}
.container .content .content_title > h2{ 
    width: 28.948%; min-width: 530px;
    margin: -90px auto 0;
}
.container .content .content_title > h2 > img{ width: 100%; }

.container .content .content_txt{ width: 100%; min-width: 1000px;}
.container .content .content_txt .intro{
    width: 47.368%; min-width: 900px;
    padding: 72px 20px;
    margin: 0 auto;
}
.container .content .content_txt .intro > h3{
    margin-bottom: 13px;
    font-size: 1.57143em;
    font-weight: bold;
    color: #00a0e9;
    line-height: 1.8;
    letter-spacing: 0.25em;
    text-align: center;
    position: relative;
}
.container .content .content_txt .intro > h3::before{
    content: '';
    width: 8.373%; height: 43.36%;
    position: absolute;
    background: url(../img/about/decor_cha_01.png) no-repeat left top;
    background-size: 100% auto;
    left: 0; top: 0;
    transform: translate(-135%, 60%);
}
.container .content .content_txt .intro > h3::after{
    content: '';
    width: 8.14%; height: 31.995%;
    position: absolute;
    background: url(../img/about/decor_cha_02.png) no-repeat right top;
    background-size: 100% auto;
    top: 0; right: 0;
    transform: translate(125%, 118%);
}
.container .content .content_txt .intro > p{
    font-size: 1.285715em;
    letter-spacing: 0.125em;
    line-height: 1.9;
    margin-bottom: 23px;
}

.container .content .content_txt .character{ width: 100%; }
.container .content .content_txt .character > ul{
    margin: 0 auto;
    width: 52.632%; min-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.container .content .content_txt .character > ul::before{
    content: '';
    position: absolute;
    background: url(../img/about/decor_cha_03.png) no-repeat left top;
    width: 34%; height: 4.8%;
    background-size: 100% auto;
    right: 0; top: 0;
    transform: translate(-24%, 63%);
}
.container .content .content_txt .character > ul::after{
    content: '';
    position: absolute;
    background: url(../img/about/decor_cha_04.png) no-repeat left bottom;
    width: 38.4%; height: 5.975%;
    background-size: 100% auto;
    left: 0; bottom: 0;
    transform: translate(13%, -150%);
}
.container .content .content_txt .character > ul > li{ 
    margin-bottom: 170px;
    width: 44.5%;
}
.container .content .content_txt .character > ul > li:nth-child(2){
    margin-top: 350px;
}
.container .content .content_txt .character > ul > li:nth-child(3){
    margin-top: -350px;
}
.container .content .content_txt .character > ul > li:nth-child(5){
    margin-top: -350px;
}
.container .content .content_txt .character > ul > li > figure{ margin-bottom: 6.67%; }
.container .content .content_txt .character > ul > li > figure > img{ width: 100%;}
.container .content .content_txt .character > ul > li > p{ 
    padding: 0 4.89% 0 2.89%;
    letter-spacing: 0.23em;
    line-height: 1.8;
}

/* ============================1080======================== */
@media (max-width: 1080px){
    .container .content .content_title .title_deco{
        min-width: 750px;
    }
    .container .content .content_txt{ min-width: 769px; }
    .container .content .content_txt .intro{ min-width: 650px; }
    .container .content .content_txt .character > ul{ min-width: 650px; }
/* ==========================1080 end======================= */
}

/* ==========================768=========================== */
@media (max-width: 768px){
    .container .content .content_title .title_deco{
        min-width: 300px; width: 100%;
    }
    .container .content .content_title .title_deco > figure{ 
        min-width: 50px; min-height: 50px;
        width: 20%; height: 20%;
    }
    .container .content .content_title > h2{ 
        width: 100%; min-width: 100px;
        margin: -10%  auto 0;
    }

    .container .content .content_txt{ width: 100%; min-width: 300px;}
    .container .content .content_txt .intro{
        width: 100%; min-width: 300px;
        padding: 150px 40px 300px;
    }
    .container .content .content_txt .intro > h3{
        margin-bottom: 13px;
        font-size: 1.2em;
        line-height: 1.8;
        letter-spacing: 0.01em;
        text-align: center;
    }
    .container .content .content_txt .intro > h3::before{
        width: 60px; height: 87px;
        transform: translate(430%, -130%);
    }
    .container .content .content_txt .intro > h3::after{
        width: 52px; height: 58px;
        transform: translate(-510%, -155%);
    }
    .container .content .content_txt .intro > p{
        font-size: 1.1em;
        letter-spacing: 0.125em;
        line-height: 1.9;
        margin-bottom: 23px;
    }

    .container .content .content_txt .character{ width: 100%; }
    .container .content .content_txt .character > ul{
        width: 100%; min-width: 300px;
        display: block;
        flex-wrap: nowrap;
        justify-content: initial;
        position: relative;
        padding: 0 30px;
    }
    .container .content .content_txt .character > ul::before{
        width: 40%; height: 3%;
        transform: translate(-80%, -160%);
    }
    .container .content .content_txt .character > ul::after{
        width: 38.4%; height: 5.975%;
        transform: translate(80%, 70%);
    }
    .container .content .content_txt .character > ul > li{ 
        margin-bottom: 100px;
        width: 100%;
    }
    .container .content .content_txt .character > ul > li:nth-child(2){
        margin-top: 0;
    }
    .container .content .content_txt .character > ul > li:nth-child(3){
        margin-top: 0;
    }
    .container .content .content_txt .character > ul > li:nth-child(5){
        margin-top: 0;
    }
    .container .content .content_txt .character > ul > li:nth-child(6){ margin-bottom: 40%; }
    .container .content .content_txt .character > ul > li > figure{ margin-bottom: 6.67%; }
    .container .content .content_txt .character > ul > li > figure > img{ width: 100%;}
    .container .content .content_txt .character > ul > li > p{ 
        padding: 0 4.89% 0 2.89%;
        letter-spacing: 0.1em;
        line-height: 2.3;
    }
/* =======================768 end========================== */
}