@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html,body{ margin:0; }
*{
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
ul,li{
    list-style-type: none;
    margin:0; padding:0;
}
h1,h2,h3,h4,h5,h6,p,figure{ margin:0; }
img{
    vertical-align: top;
    width: 100%;
}
a{text-decoration: none;}



.container{ min-width: 1080px; max-width: 1900px; }

.container .btn_menu{
    width: 58px; height: 62px;
    z-index: 100;
    display: none;
}
.container .btn_menu > p{ font-size: 15px; }
.container .btn_menu .btn{ 
    width: 100%; height: 20%;
    left: 15px; top: 5px;
    position: relative;
}
.container .btn_menu .btn > span{
    background-color: #00a1e9;
    border-radius: 3px;
    width: 22px; height: 3px;
    position: absolute;
    transition: 0.5s;
}
.container .btn_menu .btn > span:nth-child(1){ top: 0; }
.container .btn_menu .btn > span:nth-child(2){ top: 100%; }

.btn_menu.active > .btn > span:nth-child(1){
    top: 50%;
    transform: rotate(210deg);
}
.btn_menu.active > .btn > span:nth-child(2){
    top: 50%;
    transform: rotate(-210deg);
}


.container > header{ 
    width: 100%;
    font-family: 'Fredoka One', cursive;
    position: relative;
}
.container > header::after{
    content: '';
    background: url(../img/common/cloud_menu.png) repeat-x center bottom;
    position: absolute;
    width: 100%; height: 45px;
    animation: cloud_menu 70s linear infinite;
    z-index: 2;
}
@keyframes cloud_menu{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}

.container > header > div{
    width: 80%;
    margin: 0 auto;
    padding: 70px 0 52px 0;
    vertical-align: middle;
    position: relative;
}
.container > header > div > h1{ 
    width: 10.532%; height: 56.73%;
    min-width: 130px;
    position: absolute;
    left: 50%; top: 7%;
    animation: logo_down 0.4s 0.1s ease-out forwards;
}
@keyframes logo_down{
    0%{ transform: translate(-50%, -140%); }
    100%{ transform: translate(-50%, 0); }
}
.container > header > div > h1:hover{ cursor: pointer; }
.container > header > div > h1 > a{ 
    margin: 0; padding: 0; 
    animation: logo_op 0.3s 0.1s ease backwards;
}
@keyframes logo_op{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
.container > header > div > h1 > a > img{ width: 100%; }


.container > header > div > nav{}
.container > header > div > nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > header > div > nav > ul > li{ margin-left: 2%; }
.container > header > div > nav > ul > li > a{
    font-size: 1.42857em;
    color: #00a0e9;
    font-family: 'Fredoka One', cursive;
    letter-spacing: .13em;
}
.container > header > div > nav > ul > li > a:hover{
    cursor: pointer;
    color: #ff7d9c;
}
.container > header > div > nav > ul > li:nth-child(6) > a:hover{
    color: #00a0e9;
}
.container > header > div > nav > ul > li:nth-child(1){ margin-left: 5%; }
.container > header > div > nav > ul > li:nth-child(4){ margin-left: 27%; }
.container > header > div > nav > ul > li:nth-child(6) > a{
    display: inline-block;
    padding: 2px 8px;
    font-size: 0.785715em;
    border: 2px solid #00a0e9;
    border-radius: 15px;
    letter-spacing: normal;
}



.container > header .screen{
    left: 0; top: 0;
    width: 100%; height: 685%;
    margin: 0; padding: 0;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 5;
    transition: 0.2s ease;
    display: none;
}


.container .content{ 
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container .content .snow{
    width: 100%; height: 110%;
    min-height: 1000px;
    position: absolute;
    left: 0; top: 0;
    z-index: -1;
}
.container .content .snow > div{ 
    width: 15px; height: 15px; 
    position: absolute;
    left: 0; top: 0;
    z-index: -1;
}
.container .content .snow > div > p{
    width: 100%; height: 100%;
    background: url(../img/common/bg/bg_snow.png) no-repeat center center;
    background-size: contain;
    z-index: -1;
    animation: snow_rotate 10s linear infinite;
}
.container .content .snow > div:nth-child(1){ 
    width: 24px; height: 24px; left: 530px; 
    animation: snow_fall 17s 17s linear infinite;
}
.container .content .snow > div:nth-child(2){ 
    width: 21px; height: 21px; left: 896px; 
    animation: snow_fall 24s 20s linear infinite;
}
.container .content .snow > div:nth-child(3){ 
    width: 26px; height: 26px; left: 1177px; 
    animation: snow_fall 27s 10s linear infinite;
}
.container .content .snow > div:nth-child(4){ 
    width: 33px; height: 33px; left: 1214px;
    animation: snow_fall 30s 9s linear infinite;
}
.container .content .snow > div:nth-child(5){ 
    width: 21px; height: 21px; left: 1001px; 
    animation: snow_fall 17s 19s linear infinite;
}
.container .content .snow > div:nth-child(6){ 
    width: 26px; height: 26px; left: 910px; 
    animation: snow_fall 26s 5s linear infinite;
}
.container .content .snow > div:nth-child(7){ 
    width: 30px; height: 30px; left: 1891px; 
    animation: snow_fall 18s 37s linear infinite;
}
.container .content .snow > div:nth-child(8){ 
    width: 22px; height: 22px; left: 80px; 
    animation: snow_fall 23s 39s linear infinite;
}
.container .content .snow > div:nth-child(9){ 
    width: 35px; height: 35px; left: 358px; 
    animation: snow_fall 22s 28s linear infinite;
}
.container .content .snow > div:nth-child(10){ 
    width: 31px; height: 31px; left: 404px; 
    animation: snow_fall 25s 11s linear infinite;
}
.container .content .snow > div:nth-child(11){ 
    width: 26px; height: 26px; left: 1503px; 
    animation: snow_fall 20s 22s linear infinite;
}
.container .content .snow > div:nth-child(12){ 
    width: 28px; height: 28px; left: 1785px; 
    animation: snow_fall 21s 7s linear infinite;
}
.container .content .snow > div:nth-child(13){ 
    width: 27px; height: 27px; left: 852px; 
    animation: snow_fall 26s 30s linear infinite;
}
@keyframes snow_fall{
    0%{transform: translateY(0);}
    100%{transform: translateY(1700px);}
}
@keyframes snow_rotate{
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }
}

.container .page_top{ 
    width: 53.684%; min-width: 1020px;
    margin: 0 auto;
    text-align: right;
}
.container .page_top > figure{ 
    width: 7.844%; 
    display: inline-block;
    cursor: pointer;
    transform: translateY(45%);
    transition: 0.2s ease;
}
.container .page_top > figure:hover{
    transform: translateY(13%);
}
.container .page_top > figure > img{ width: 100%; }

.container .banner{ 
    width: 100%; 
    padding: 3.685% 0 3.158% 0;
    background-color: #304296;
    position: relative;
    z-index: 3;
}
.container .banner::before{
    content: '';
    position: absolute;
    width: 100%; height: 21px;
    background: url(../img/common/bg/bg_blue.png) repeat-x left top;
    top: -21px;
    animation: bg_blue 21s linear infinite;
}
@keyframes bg_blue{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container .banner::after{
    content: '';
    position: absolute;
    width: 100%; height: 150px;
    background: url(../img/common/bg/bg_star.png) repeat-x center center;
    top: 0;
    animation: bg_star 150s linear infinite;
}
@keyframes bg_star{
    0%{ background-position: 0 0; }
    100%{ background-position: 100% 0; }
}
.container .banner > ul{ 
    margin: 0 auto;
    width: 675px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .banner > ul > li{ 
    width: 27.409%; 
    margin: 2.964% 0;
    z-index: 1;
}
.container .banner > ul > li > a{
    display: inline-block;
}
.container .banner > ul > li > a > img{ width: 100%; }

.container > footer{
    width: 100%;
    padding: 1.7% 0;
    position: relative;
}
.container > footer::before{
    content: '';
    position: absolute;
    background: url(../img/common/bg/bg_white.png) repeat-x left top;
    width: 100%; height: 21px;
    top: -21px;
    animation: bg_white 24s ease infinite;
}
@keyframes bg_white{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container > footer > div{ 
    width: 52.632%; min-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > footer > div .share{ 
    order: 2;
    width: 27.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container > footer > div .share > li{ 
    margin: 0 4.364%; 
    width: 18.55%;
}
.container > footer > div .share > li:nth-child(1){
    width: 32%;
}
.container > footer > div .share > li > figure{ width: 100%; }
.container > footer > div .share > li > figure > img{ width: 100%; }
.container > footer > div .share > li > a{ 
    width: 100%;
    display: inline-block;
}
.container > footer > div .share > li:nth-child(2) > a{
    transition: 0.2s ease;
}
.container > footer > div .share > li:nth-child(3) > a{
    transition: 0.2s ease;
}
.container > footer > div .share > li:nth-child(2) > a:hover{
    transform: rotate(-45deg);
}
.container > footer > div .share > li:nth-child(3) > a:hover{
    transform: rotate(-45deg);
}
.container > footer > div .share > li > a > img{ width: 100%; }
.container > footer > div .copyright{ 
    order: 1;
    width: 26.618%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > footer > div .copyright > li{}
.container > footer > div .copyright > li:nth-child(1){
    width: 12.023%; height: 100%;
}
.container > footer > div .copyright > li:nth-child(2){
    width: 78.897%; height: 100%;
}
.container > footer > div .copyright > li > figure{}
.container > footer > div .copyright > li > figure > img{ width: 100%; }


@media (max-width: 1079px){
    .container{ min-width: none; max-width: 1079px;}
    .container .btn_menu{
        display: block;
    }
    .container > header > div > h1{ 
        min-width: auto;
        top: 30%;
    }
    
}