@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html,body{ margin:0; }
*{
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
ul,li{
    list-style-type: none;
    margin:0; padding:0;
}
h1,h2,h3,h4,h5,h6,p,figure{ margin:0; }
img{
    vertical-align: top;
    width: 100%;
}
a{text-decoration: none;}



.container{ min-width: 1080px; max-width: 1900px; overflow: hidden; }

.container .btn_menu{
    width: 58px; height: 62px;
    position: relative;
    z-index: 100;
    display: none;
}
.container .btn_menu > p{ font-size: 15px; }
.container .btn_menu .btn{ 
    width: 100%; height: 20%;
    left: 15px; top: 5px;
    position: relative;
}
.container .btn_menu .btn > span{
    background-color: #00a1e9;
    border-radius: 3px;
    width: 22px; height: 3px;
    position: absolute;
    transition: 0.5s;
}
.container .btn_menu .btn > span:nth-child(1){ top: 0; }
.container .btn_menu .btn > span:nth-child(2){ top: 100%; }

.btn_menu.active > .btn > span:nth-child(1){
    top: 50%;
    transform: rotate(210deg);
}
.btn_menu.active > .btn > span:nth-child(2){
    top: 50%;
    transform: rotate(-210deg);
}


.container > header{ 
    width: 100%;
    font-family: 'Fredoka One', cursive;
    position: relative;
}
.container > header::after{
    content: '';
    background: url(../img/common/cloud_menu.png) repeat-x center bottom;
    position: absolute;
    width: 100%; height: 45px;
    animation: cloud_menu 70s linear infinite;
    z-index: 2;
}
@keyframes cloud_menu{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}

.container > header > div{
    width: 80%;
    margin: 0 auto;
    padding: 70px 0 52px 0;
    vertical-align: middle;
    position: relative;
}
.container > header > div > h1{ 
    width: 10.532%; height: 56.73%;
    min-width: 130px;
    position: absolute;
    left: 50%; top: 7%;
    animation: logo_down 0.4s 0.1s ease-out forwards;
}
@keyframes logo_down{
    0%{ transform: translate(-50%, -140%); }
    100%{ transform: translate(-50%, 0); }
}
.container > header > div > h1:hover{ cursor: pointer; }
.container > header > div > h1 > a{ 
    margin: 0; padding: 0; 
    animation: logo_op 0.3s 0.1s ease backwards;
}
@keyframes logo_op{
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}
.container > header > div > h1 > a > img{ width: 100%; }


.container > header > div > nav{ width: 100%; }
.container > header > div > nav > ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > header > div > nav > ul > li{ margin-left: 2%; }
.container > header > div > nav > ul > li > a{
    font-size: 1.42857em;
    color: #00a0e9;
    font-family: 'Fredoka One', cursive;
    letter-spacing: .13em;
}
.container > header > div > nav > ul > li > a:hover{
    cursor: pointer;
    color: #ff7d9c;
}
.container > header > div > nav > ul > li:nth-child(6) > a:hover{
    color: #00a0e9;
}
.container > header > div > nav > ul > li:nth-child(1){ margin-left: 5%; }
.container > header > div > nav > ul > li:nth-child(4){ margin-left: 27%; }
.container > header > div > nav > ul > li:nth-child(6) > a{
    display: inline-block;
    padding: 2px 8px;
    font-size: 0.785715em;
    border: 2px solid #00a0e9;
    border-radius: 15px;
    letter-spacing: normal;
}


.container .content{ 
    width: 100%;
    position: relative;
    overflow: hidden;
}

.container .content .snow{
    width: 100%; height: 110%;
    min-height: 1000px;
    position: absolute;
    left: 0; top: 0;
    z-index: -1;
}
.container .content .snow > p{
    position: absolute;
    left: 0; top: 0;
    background: url(../img/common/bg/bg_snow.png) no-repeat center center;
    background-size: contain;
    z-index: -1;
}
@keyframes snow_fall{
    0%{ top: -50px; }
    100%{ top: 100%; }
}
@keyframes snow_rotate{
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }
}

.container .page_top{ 
    width: 53.684%; min-width: 1020px;
    margin: 0 auto;
    text-align: right;
    position: relative;
    z-index: 1;
}
.container .page_top > figure{ 
    width: 80px; 
    display: inline-block;
    cursor: pointer;
    transform: translateY(45%);
    transition: 0.2s ease;
}
.container .page_top > figure:hover{
    transform: translateY(13%);
}
.container .page_top > figure > img{ width: 100%; }

.container .banner{ 
    width: 100%; 
    padding: 70px 0;
    background-color: #304296;
    position: relative;
    z-index: 3;
}
.container .banner::before{
    content: '';
    position: absolute;
    width: 100%; height: 21px;
    background: url(../img/common/bg/bg_blue.png) repeat-x left bottom;
    top: -21px;
    animation: bg_blue 20s linear infinite;
}
@keyframes bg_blue{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container .banner::after{
    content: '';
    position: absolute;
    width: 100%; height: 150px;
    background: url(../img/common/bg/bg_star.png) repeat-x center center;
    top: 0;
    animation: bg_star 70s linear infinite;
}
@keyframes bg_star{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container .banner > ul{ 
    margin: 0 auto;
    width: 675px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .banner > ul > li{ 
    width: 27.409%; 
    margin: 2.964% 0;
    z-index: 1;
}
.container .banner > ul > li > a{
    display: inline-block;
    transition: 0.2s ease;
}
.container .banner > ul > li > a:hover{
    transform: translateY(-10%);
}
.container .banner > ul > li > a > img{ width: 100%; }

.container > footer{
    width: 100%;
    padding: 50px 0;
    position: relative;
}
.container > footer::before{
    content: '';
    position: absolute;
    background: url(../img/common/bg/bg_white.png) repeat-x left top;
    width: 100%; height: 21px;
    top: -21px;
    animation: bg_white 20s ease infinite;
    z-index: 3;
}
@keyframes bg_white{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container > footer > div{ 
    width: 52.632%; min-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > footer > div .share{ 
    order: 2;
    width: 27.5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.container > footer > div .share > li{ 
    margin: 0 4.364%; 
    width: 18.55%;
}
.container > footer > div .share > li:nth-child(1){
    width: 32%;
}
.container > footer > div .share > li > figure{ width: 100%; }
.container > footer > div .share > li > figure > img{ width: 100%; }
.container > footer > div .share > li > a{ 
    width: 100%;
    display: inline-block;
}
.container > footer > div .share > li:nth-child(2) > a{
    transition: 0.2s ease;
}
.container > footer > div .share > li:nth-child(3) > a{
    transition: 0.2s ease;
}
.container > footer > div .share > li:nth-child(2) > a:hover{
    transform: rotate(-45deg);
}
.container > footer > div .share > li:nth-child(3) > a:hover{
    transform: rotate(-45deg);
}
.container > footer > div .share > li > a > img{ width: 100%; }
.container > footer > div .copyright{ 
    order: 1;
    width: 26.618%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container > footer > div .copyright > li{}
.container > footer > div .copyright > li:nth-child(1){
    width: 12.023%; height: 100%;
}
.container > footer > div .copyright > li:nth-child(2){
    width: 78.897%; height: 100%;
}
.container > footer > div .copyright > li > figure{}
.container > footer > div .copyright > li > figure > img{ width: 100%; }



/* ==================1080============================= */
@media (max-width: 1079px){
    .container{ min-width: 769px; max-width: 1079px;}
    .container > header::after{
        animation: cloud_menu 50s linear infinite;
    }
    .container > header > div{
    max-width: 850px; min-width: 615px;
    }
    .container > header > div > h1{ 
    min-width: 130px;
    top: 30px;
    }

    
    .container > header > div > nav{ width: 100%; }
    .container > header > div > nav > ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .container > header > div > nav > ul > li > a{ font-size: 1em; }


    .container .page_top{ 
        min-width: 412px; 
        width: 80%;
    }
    .container .banner::before{
        background-size: 50% 100%;
        animation: bg_blue 25s linear infinite;
    }
    .container .banner::after{
        animation: bg_star 50s linear infinite;
    }
    .container .banner > ul{ 
        justify-content: space-between; 
        width: 90%;
    }
    .container .banner > ul > li{
        width: 30%;
    }
    .container > footer::before{
        background-size: 50% 100%;
        animation: bg_white 25s ease infinite;
    }
    .container > footer > div{ min-width: 750px; }
}
/* =========================1080 end====================== */

/* =========================768============================ */
@media (max-width: 768px){
    .container{ min-width: 320px; max-width: 768px;}
    .container .btn_menu{ display: block; position: fixed; }
    .container > header{ height: 100px; }
    .container > header::after{
        animation: cloud_menu 40s linear infinite;
        bottom: -44px;
    }
    .container > header > div{
    height: 100px; min-width: 320px;
    }
    .container > header > div > h1{ 
    min-width: 100px;
    top: 30px; left: 50%;
    }

    
    .container > header > div > nav{}
    .container > header > div > nav > ul{
        width: 65vw;  height: 100%; 
        position: fixed;
        background-color: rgba(255, 255, 255, 0.8);
        left: 0; top: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
        transition: 0.5s ease-in-out;
        z-index: 5;
    }
    .container > header > div > nav > ul > li{ margin: 50px auto; }
    .container > header > div > nav > ul > li > a{ 
        display: block; 
        text-align: center;
        letter-spacing: .3em;
        font-size: 2em;
    }
    .container > header > div > nav > ul > li:nth-child(1){ margin-left: auto; }
    .container > header > div > nav > ul > li:nth-child(4){ margin-left: auto; }
    .container > header > div > nav > ul > li:nth-child(6) > a{
        display: inline-block;
        padding: 2px 8px;
        font-size: 1em;
    }
    .nav.active{
        transform: translateX(0);
    }

    .container .page_top{ 
        min-width: 412px; 
        width: 80%;
        text-align: center;
    }




    .container > footer > div{ 
        width: 100%; min-width: 320px;
        flex-direction: column;
    }
    .container > footer > div .share{ 
        order: 1;
        width: 70%;
        display: block;
        text-align: center;
    }
    .container > footer > div .share > li{ 
        margin: 20px 10px 0 10px;
        width: 10%;
        display: inline-block;
    }
    .container > footer > div .share > li:nth-child(1){
        margin: 0 auto; 
        width: 20%;
        display: block;
    }

    .container > footer > div .copyright{ 
        order: 2;
        margin: 10px auto 0;
        width: 70%;
        display: block;
    }
    .container > footer > div .copyright > li{ 
        display: inline-block; 
        vertical-align: bottom; 
        margin-left: 22%;
    }
    .container > footer > div .copyright > li:nth-child(1){ width: 10%; }
    .container > footer > div .copyright > li:nth-child(2){ width: 50%; margin-left: 10%; }
}
/* =========================768 end====================== */