@import url(./common.css);



.container .content{ 
    width: 100%; margin-bottom: -120px; 
    position: relative;
    overflow: hidden;
}




.container .content .content_title{ 
    width: 100%; min-height: 250px;
    padding: 90px 0; /* 4.737% */
    position: relative;
    background-color: #00a0e9;
}
/* .container .content .content_title::before{ 
    content:'';
    position: absolute;
    width: 49.474%; height: 78.95%; 
    background: url(../img/common/cloud_left.gif) no-repeat left center, url(../img/common/cloud_right.gif) no-repeat right center;
    left: 24.5%; bottom: 21%;
} */
.container .content .content_title .title_deco{
    width: 49.474%; height: 78.95%;
    max-width: 940px;
    margin: -3% auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.container .content .content_title .title_deco > figure{ width: 150px; height: 150px;}
.container .content .content_title .title_deco > figure > img{ width: 100%; }
.container .content .content_title::after{
    content: '';
    position: absolute;
    background: url(../img/common/frame_ice.png) repeat-x left bottom;
    width: 100%; height: 45px;
    bottom: 0;
}
.container .content .content_title > h2{ 
    width: 28.948%; min-width: 550px;
    margin: -90px auto 0;
}
.container .content .content_title > h2 > img{ width: 100%; }

.container .content .content_txt{
    width: 100%;
    margin-top: 80px;
    padding-bottom: 180px;
    background-color: #fff5c4;
    position: relative;
    z-index: 1;
}
.container .content .content_txt::before{
    content: '';
    background: url(../img/common/bg/bg_light_yellow.png) repeat-x left top;
    position: absolute;
    width: 100%; height: 21px;
    top: -21px;
    animation: bg_lgt_yellow 20s linear infinite;
}
@keyframes bg_lgt_yellow{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}




.container .content .content_txt > div{
    width: 100%;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
.container .content .content_txt > div .book{
    width: 47.368%; min-width: 900px;
    margin: 130px auto 16px;
    position: relative;
}
.container .content .content_txt > div .book > div{ 
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: -40vh; left: 0;
    display: none;
    z-index: 10;
}
.container .content .content_txt > div .book > div:nth-child(1){
    display: flex;
    position: relative;
    top: 0;
}
.container .content .content_txt > div .book > div > figure{ width: 50%; }
.container .content .content_txt > div .book > div > figure > img{ width: 100%; }
.container .content .content_txt > div .book_nav{
    width: 100%;
    margin-top: 30px;
}
.container .content .content_txt > div .book_nav > div{
    width: 7.368%; min-width: 140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container .content .content_txt > div .book_nav > div > figure{ 
    width: 50px; height: 50px;
    overflow: hidden;
}
.container .content .content_txt > div .book_nav > div > figure:hover{ cursor: pointer; }
.container .content .content_txt > div .book_nav > div > figure > img{ width: 100%; }
.container .content .content_txt > div .book_nav > div > figure:hover > img{ transform: translateY(-50%); }


