@import url(./common.css);




.container .content .content_title{ 
    width: 100%; min-height: 250px;
    padding: 90px 0; /* 4.737% */
    position: relative;
    background-color: #00a0e9;
}
/* .container .content .content_title::before{ 
    content:'';
    position: absolute;
    width: 49.474%; height: 78.95%; 
    background: url(../img/common/cloud_left.gif) no-repeat left center, url(../img/common/cloud_right.gif) no-repeat right center;
    left: 24.5%; bottom: 21%;
} */
.container .content .content_title .title_deco{
    width: 49.474%; height: 78.95%;
    max-width: 940px;
    margin: -3% auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.container .content .content_title .title_deco > figure{ width: 150px; height: 150px; }
.container .content .content_title .title_deco > figure > img{ width: 100%; }
.container .content .content_title::after{
    content: '';
    position: absolute;
    background: url(../img/common/frame_ice.png) repeat-x left bottom;
    width: 100%; height: 45px;
    bottom: 0;
}
.container .content .content_title > h2{ 
    width: 28.948%; min-width: 550px;
    margin: -90px auto 0;
}
.container .content .content_title > h2 > img{ width: 100%; }

.container .content .content_txt{ 
    width: 100%;
    padding-top: 135px;
}
.container .content .content_txt .film_nav{
    background-color: #ffcd46;
    position: relative;
    padding: 65px 0;
    width: 100%; height: 100%;
}
.container .content .content_txt .film_nav::before{
    content: '';
    width: 100%; height: 21px;
    position: absolute;
    background: url(../img/common/bg/bg_yellow.png) repeat-x left top;
    left: 0; top: -21px;
    animation: bg_yellow 30s linear infinite;
}
@keyframes bg_yellow{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container .content .content_txt .film_nav::after{
    content: '';
    width: 100%; height: 21px;
    position: absolute;
    background: url(../img/common/bg/bg_yellow_bottom.png) repeat-x left bottom;
    left: 0; bottom: -21px;
    animation: bg_yellow_btm 30s linear infinite;
}
@keyframes bg_yellow_btm{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container .content .content_txt .film_nav > ul{ 
    width: 44.526%; height: 100%;
    min-width: 845px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .content .content_txt .film_nav > ul > li{ 
    width: 30.734%;
    margin-top: -110px;
    z-index: 1;
}
.container .content .content_txt .film_nav > ul > li:nth-child(1){
    margin-top: -190px;
}
.container .content .content_txt .film_nav > ul > li > a{
    display: inline-block;
    width: 100%;
}
.container .content .content_txt .film_nav > ul > li:nth-child(1) > a{
    cursor: default;
}
.container .content .content_txt .film_nav > ul > li:nth-child(2) > a{
    transition: 0.2s ease;
}
.container .content .content_txt .film_nav > ul > li:nth-child(3) > a{
    transition: 0.2s ease;
}
.container .content .content_txt .film_nav > ul > li:nth-child(2) > a:hover{
    transform: translateY(-5%);
}
.container .content .content_txt .film_nav > ul > li:nth-child(3) > a:hover{
    transform: translateY(-5%);
}
.container .content .content_txt .film_nav > ul > li > a > img{ width: 100%; }

.container .content .content_txt .film_index{
    width: 52.632%; min-width: 1000px;
    margin: 60px auto 0;
}
.container .content .content_txt .film_index > h3{
    margin: 0 auto;
    width: 46%;
}
.container .content .content_txt .film_index > h3 > img{ width: 100%; }
.container .content .content_txt .film_index > p{
    width: 97%;
    text-align: right;
    white-space: pre-line;
    font-size: 0.857em;
    line-height: 1.6;
}
.container .content .content_txt .film_index > ul{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.container .content .content_txt .film_index > ul > li{
    width: 30.5%;
    margin: 0 40px 40px 0;
}
.container .content .content_txt .film_index > ul > li:nth-child(3n){
    margin: 0 0 40px 0;
}
.container .content .content_txt .film_index > ul > li > figure{ width: 100%; }
.container .content .content_txt .film_index > ul > li > figure > img{ width: 100%; }
.container .content .content_txt .film_index > ul > li > div{
    margin: 20px 0 12px;
    padding: 11px 0;
    background-color: #00a1e9;
    border-radius: 22px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}
.container .content .content_txt .film_index > ul > li > div > p:nth-child(1){
    width: 24.24%;
    margin-left: 24px;
    color: #010000;
    font-weight: bold;    
}
.container .content .content_txt .film_index > ul > li > div > p:nth-child(2){
    width: 60.656%;
    margin-right: 10px;
    color: #fff;
    font-size: 1.072em;
    font-weight: bold;
    line-height: 1.3;
}
.container .content .content_txt .film_index > ul > li > p{ line-height: 2; }

