@import url(./common.css);




.container .content .content_title{ 
    width: 100%; min-height: 250px;
    padding: 90px 0; 
    position: relative;
    background-color: #00a0e9;
}
.container .content .content_title .title_deco{
    width: 49.474%; height: 78.95%;
    min-width: 940px;
    margin: -3% auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.container .content .content_title .title_deco > figure{ width: 150px; height: 150px; }
.container .content .content_title .title_deco > figure > img{ width: 100%; }
.container .content .content_title::after{
    content: '';
    position: absolute;
    background: url(../img/common/frame_ice.png) repeat-x left bottom;
    width: 100%; height: 45px;
    bottom: 0;
}
.container .content .content_title > h2{ 
    width: 28.948%; min-width: 550px;
    margin: -90px auto 0;
}
.container .content .content_title > h2 > img{ width: 100%; }

.container .content .content_txt{ 
    width: 100%;
    padding-top: 135px;
}
.container .content .content_txt .film_nav{
    background-color: #ffcd46;
    position: relative;
    width: 100%; height: 100%;
}
.container .content .content_txt .film_nav::before{
    content: '';
    width: 100%; height: 21px;
    position: absolute;
    background: url(../img/common/bg/bg_yellow.png) repeat-x left top;
    left: 0; top: -21px;
    animation: bg_top 30s linear infinite;
}
.container .content .content_txt .film_nav.active1::before{
    background: url(../img/common/bg/bg_yellow.png) repeat-x left top;
}
.container .content .content_txt .film_nav.active2::before{
    background: url(../img/common/bg/bg_light_blue.png) repeat-x left top;
}
.container .content .content_txt .film_nav.active3::before{
    background: url(../img/common/bg/bg_pink.png) repeat-x left top;
}

@keyframes bg_top{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}

.container .content .content_txt .film_nav::after{
    content: '';
    width: 100%; height: 21px;
    position: absolute;
    background: url(../img/common/bg/bg_yellow_bottom.png) repeat-x left bottom;
    left: 0; bottom: -21px;
    animation: bg_btm 30s linear infinite;
}
.container .content .content_txt .film_nav.active1::after{
    background: url(../img/common/bg/bg_yellow_bottom.png) repeat-x left top;
}
.container .content .content_txt .film_nav.active2::after{
    background: url(../img/common/bg/bg_light_blue_bottom.png) repeat-x left top;
}
.container .content .content_txt .film_nav.active3::after{
    background: url(../img/common/bg/bg_pink_bottom.png) repeat-x left top;
}

@keyframes bg_btm{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}

.container .content .content_txt .film_nav > ul{ 
    width: 44.526%; height: 100%;
    min-width: 845px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .content .content_txt .film_nav > ul > li{ 
    width: 30.734%;
    transform: translateY(-50%);
    z-index: 1;
}
.container .content .content_txt .film_nav > ul > li.active{
    transform: translateY(-70%);
}
.container .content .content_txt .film_nav > ul > li > a{
    display: inline-block;
    width: 100%;
    transition: 0.2s ease;
}
.container .content .content_txt .film_nav > ul > li.active > a{
    cursor: default;
    transition: none;
}
.container .content .content_txt .film_nav > ul > li > a:hover{
    transform: translateY(-5%);
}
.container .content .content_txt .film_nav > ul > li.active > a:hover{
    transform: none;
}
.container .content .content_txt .film_nav > ul > li > a > img{ width: 100%; }

.container .content .content_txt .film_nav .series_nav{ padding-bottom: 1%; width: 100%; display: none; }
.container .content .content_txt .film_nav .series_nav > ul{
    width: 39.264%; min-width: 745px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container .content .content_txt .film_nav .series_nav > ul > li{ width: 14.209%; }
.container .content .content_txt .film_nav .series_nav > ul > li > a{
    display: inline-block;
    transition: 0.2s ease;
}
.container .content .content_txt .film_nav .series_nav > ul > li.active > a{ cursor: default; }
.container .content .content_txt .film_nav .series_nav > ul > li:hover > a{ transform: translateY(-5%); }
.container .content .content_txt .film_nav .series_nav > ul > li.active:hover > a{ transform: translateY(0); }
.container .content .content_txt .film_nav .series_nav > ul > li > a > img{ width: 100%; }

.container .content .content_txt .film_intro{
    width: 52.632%; min-width: 1000px;
    margin: 60px auto 0;
}
.container .content .content_txt .film_intro > h3{
    margin: 0 auto;
    width: 46%;
}
.container .content .content_txt .film_intro > h3 > img{ width: 100%; }
.container .content .content_txt .film_intro > p{
    width: 97%;
    text-align: right;
    white-space: pre-line;
    font-size: 0.857em;
    line-height: 1.6;
}
.container .content .content_txt .film_intro > ul{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.container .content .content_txt .film_intro > ul > li{
    width: 30.5%;
    margin: 0 40px 40px 0;
}
.container .content .content_txt .film_intro > ul > li:nth-child(3n){
    margin: 0 0 40px 0;
}
.container .content .content_txt .film_intro > ul > li > figure{ width: 100%; }
.container .content .content_txt .film_intro > ul > li > figure > img{ width: 100%; }
.container .content .content_txt .film_intro > ul > li > div{
    margin: 20px 0 12px;
    padding: 11px 0;
    background-color: #00a1e9;
    border-radius: 22px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    vertical-align: top;
}
.container .content .content_txt .film_intro > ul > li > div > p:nth-child(1){
    width: 24.24%;
    margin-left: 24px;
    color: #010000;
    font-weight: bold;    
}
.container .content .content_txt .film_intro > ul > li > div > p:nth-child(2){
    width: 60.656%;
    margin-right: 10px;
    color: #fff;
    font-size: 1.072em;
    font-weight: bold;
    line-height: 1.3;
}
.container .content .content_txt .film_intro > ul > li > p{ line-height: 2; }

.container .content .content_txt .intro{ 
    width: 100%; 
    margin: 0 auto;
}
.container .content .content_txt .intro .intro_txt{
    width: 100%;
}
.container .content .content_txt .intro .intro_txt > p{
    width: 50.526%; min-width: 960px;
    margin: 0 auto;
    padding: 1.042% 0;
    font-size: 1.571em;
    color: #00a0e9;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.25em;
}
.container .content .content_txt .intro > div{
    width: 52.632%; min-width: 1000px;
    margin: 5% auto 4%;
}
.container .content .content_txt .intro > div > ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .content .content_txt .intro > div > ul > li{
    width: 30.5%;
    margin: 0 0 63px 0;
}
.container .content .content_txt .intro > div > ul > li > figure{ width: 100%;}
.container .content .content_txt .intro > div > ul > li > figure > img{ width: 100%; }


/* ============================1080======================== */
@media (max-width: 1080px){
    .container .content .content_title .title_deco{
        min-width: 750px;
    }
    .container .content .content_txt .film_nav::before{
        background-size: 50% 100%;
        animation-duration: 20s;
    }
    .container .content .content_txt .film_nav.active1::before{ background-size: 50% 100%; }
    .container .content .content_txt .film_nav.active2::before{ background-size: 50% 100%; }
    .container .content .content_txt .film_nav.active3::before{ background-size: 50% 100%; }
    .container .content .content_txt .film_nav::after{
        background-size: 50% 100%;
        animation-duration: 20s;
    }
    .container .content .content_txt .film_nav.active1::after{ background-size: 50% 100%; }
    .container .content .content_txt .film_nav.active2::after{ background-size: 50% 100%; }
    .container .content .content_txt .film_nav.active3::after{ background-size: 50% 100%; }

    .container .content .content_txt .film_nav > ul{ min-width: 769px; }
    .container .content .content_txt .film_nav > ul > li{ width: 29%; }
    .container .content .content_txt .film_nav .series_nav{ padding-bottom: 2%; }

    .container .content .content_txt .film_intro{ min-width: 769px; }
    .container .content .content_txt .film_intro > ul > li{ width: 29%; }
    .container .content .content_txt .film_intro > ul > li:nth-child(3n+1){ margin-left: 10px; }

    .container .content .content_txt .intro{ min-width: 769px; }
    .container .content .content_txt .intro .intro_txt > p{ min-width: 730px; }
    .container .content .content_txt .intro > div{ min-width: 760px; }
}
/* ==========================1080 end======================= */

/* =========================768=========================== */
@media (max-width: 768px){
    .container .content .content_title{ min-height: 150px; }

    .container .content .content_title .title_deco{
        min-width: 300px; width: 100%;
    }
    .container .content .content_title .title_deco > figure{ 
        min-width: 50px; min-height: 50px;
        width: 20%; height: 20%;
    }
    .container .content .content_title > h2{ 
        width: 100%; min-width: 100px;
        margin: -10%  auto 0;
    }


    .container .content .content_txt .film_nav::before{ 
        animation-duration: 15s;
        background-size: 50% 50%;
    }
    .container .content .content_txt .film_nav.active1::after{ background-size: 50% 50%; }
    .container .content .content_txt .film_nav.active2::after{ background-size: 50% 50%; }
    .container .content .content_txt .film_nav.active3::after{ background-size: 50% 50%; }
    .container .content .content_txt .film_nav::after{
        animation-duration: 15s;
        background-size: 50% 50%;
    }
    .container .content .content_txt .film_nav.active1::after{ background-size: 50% 50%; }
    .container .content .content_txt .film_nav.active2::after{ background-size: 50% 50%; }
    .container .content .content_txt .film_nav.active3::after{ background-size: 50% 50%; }
    .container .content .content_txt .film_nav > ul{ 
        min-width: 320px; width: 100%;
        justify-content: center;
    }
    .container .content .content_txt .film_nav > ul > li{ width: 33.3%; }

    .container .content .content_txt .film_nav .series_nav{ padding-bottom: 5%; }
    .container .content .content_txt .film_nav .series_nav > ul{
        width: 80%; min-width: 320px;
        margin: 10px auto 0;
        flex-wrap: wrap;
    }
    .container .content .content_txt .film_nav .series_nav > ul > li{ width: 25.2%; text-align: center; }

    .container .content .content_txt .film_intro{ 
        min-width: 320px; width: 100%; 
    }
    .container .content .content_txt .film_intro > ul{
        display: block;
        flex-wrap: nowrap;
        justify-content: unset;
        padding: 0 30px;
    }
    .container .content .content_txt .film_intro > ul > li:nth-child(3n+1){ margin-left: auto; }
    .container .content .content_txt .film_intro > ul > li:nth-child(3n){ margin: 0 auto 30px; }
    .container .content .content_txt .film_intro > ul > li{ 
        width: 90%; 
        margin: 0 auto 30px;
    }
    .container .content .content_txt .film_intro > ul > li > figure{ width: 100%; }
    .container .content .content_txt .film_intro > ul > li > figure > img{ width: 100%; }
    .container .content .content_txt .film_intro > ul > li > div{
        margin: 20px 0 12px;
        padding: 11px 0;
        background-color: #00a1e9;
        border-radius: 22px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        vertical-align: top;
    }
    .container .content .content_txt .film_intro > ul > li > div > p:nth-child(1){
        width: 24.24%;
        margin-left: 24px;
        color: #010000;
        font-weight: bold;    
    }
    .container .content .content_txt .film_intro > ul > li > div > p:nth-child(2){
        width: 60.656%;
        margin-right: 10px;
        color: #fff;
        font-size: 1.072em;
        font-weight: bold;
        line-height: 1.3;
    }
    .container .content .content_txt .film_intro > ul > li > p{ line-height: 2; }

    .container .content .content_txt .intro{ min-width: 320px; }
    .container .content .content_txt .intro .intro_txt{ min-width: 320px; }
    .container .content .content_txt .intro .intro_txt > p{
        width: 100%; min-width: 300px;
        padding: 1.042% 3%;
        font-size: 1.142em;
        line-height: 1.5;
    }
    .container .content .content_txt .intro > div{
        width: 85%; min-width: 320px;
        margin: 10% auto 8%;
    }
    .container .content .content_txt .intro > div > ul{
        width: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .container .content .content_txt .intro > div > ul > li{
        width: 100%;
        margin: 0 0 7.5% 0;
    }
}
/* ======================768 end========================= */
