@import url(./common.css);


.container .content{ 
    width: 100%; 
    margin-bottom: -120px;
}
.container .content .content_title{ 
    width: 100%; min-height: 250px;
    padding: 90px 0; 
    position: relative;
    background-color: #00a0e9;
    z-index: 1;
}

.container .content .content_title .title_deco{
    width: 49.474%; height: 78.95%;
    min-width: 940px;
    margin: -3% auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.container .content .content_title .title_deco > figure{ width: 150px; height: 150px; }
.container .content .content_title .title_deco > figure > img{ width: 100%; }
.container .content .content_title::after{
    content: '';
    position: absolute;
    background: url(../img/common/frame_ice.png) repeat-x left bottom;
    width: 100%; height: 45px;
    bottom: 0;
}
.container .content .content_title > h2{ 
    width: 28.948%; min-width: 550px;
    position: relative;
    z-index: 1;
    margin: -90px auto 0;
}
.container .content .content_title > h2 > img{ width: 100%; }

.container .content .content_txt{ 
    width: 100%; height: 100%;
    min-width: 1080px;
    margin-top: 140px;
    background-color: #ffcd46;
    position: relative;
    padding-bottom: 9.474%;
}
.container .content .content_txt::before{
    content: '';
    position: absolute;
    background: url(../img/common/bg/bg_yellow.png) repeat-x left top;
    width: 100%; height: 21px;
    top: 0;
    transform: translateY(-100%);
    animation: bg_yellow 30s linear infinite;
}
@keyframes bg_yellow{
    0%{ background-position: 0, 0;}
    100%{ background-position: -100%, 0;}
}
.container .content .snow{ z-index: 1;}
.container .content .content_txt .craft_nav{ width: 100%; height: 123px; }
.container .content .content_txt .craft_nav > ul{ 
    width: 44.526%; min-width: 660px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .content .content_txt .craft_nav > ul > li{
    width: 46.97%;
    z-index: 2;
    transform: translateY(-80%);
}
.container .content .content_txt .craft_nav > ul > li:nth-child(1){ transform: translateY(-60%); }
.container .content .content_txt .craft_nav > ul > li > a{
    display: inline-block;
    width: 100%;
}
.container .content .content_txt .craft_nav > ul > li:nth-child(1) > a{
    transition: 0.2s ease;
}
.container .content .content_txt .craft_nav > ul > li:nth-child(2) > a{
    cursor: default;
}
.container .content .content_txt .craft_nav > ul > li:nth-child(1) > a:hover{
    transform: translateY(-5%);
}
.container .content .content_txt .craft_nav > ul > li > img{ width: 100%; }

.container .content .content_txt > ul{
    width: 52.632%; min-width: 1000px;
    margin: 0 auto;
    padding: 52px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    z-index: 2;
}
.container .content .content_txt > ul::after{
    content: '';
    position: absolute;
    background: url(../img/special/chara_comic.png) no-repeat right bottom;
    width: 42%; height: 23.07%;
    background-size: auto 100%;
    right: 0; bottom: 0;
    transform: translate(-15%, -70%);
}
.container .content .content_txt > ul > li{
    width: 46.668%;
    margin-bottom: 43px;
}
.container .content .content_txt > ul > li > div{
    border: 3px solid #ffcd46;
}
.container .content .content_txt > ul > li > div > iframe{
    width: 100%;
}
.container .content .content_txt > ul > li > h3{
    margin-top: 18px;
    font-size: 1.143em;
    font-weight: bold;
}


/* ============================1080======================== */
@media (max-width: 1080px){
    .container .content .content_title .title_deco{
        min-width: 750px;
    }
    .container .content .content_txt{ min-width: 769px; }
    .container .content .content_txt::before{
        animation: bg_yellow 20s linear infinite;
        background-size: 50% 100%;
    }
    .container .content .content_txt > ul{ 
        min-width: 755px; 
        margin: 30px auto;
    }
}
/* ==========================1080 end======================= */

/* ==========================768=========================== */
@media (max-width: 768px){
    .container .content .content_title .title_deco{
        min-width: 300px; width: 100%;
    }
    .container .content .content_title .title_deco > figure{ 
        min-width: 50px; min-height: 50px;
        width: 20%; height: 20%;
    }
    .container .content .content_title > h2{ 
        width: 100%; min-width: 100px;
        margin: -10%  auto 0;
    }
    .container .content .content_txt{ min-width: 350px; padding-bottom: 120px;}
    .container .content .content_txt::before{
        animation: bg_yellow 15s linear infinite;
        background-size: 50% 50%;
        transform: translateY(-50%);
    }

    .container .content .content_txt .craft_nav{ width: 100%; height: 123px; }
    .container .content .content_txt .craft_nav > ul{ 
        width: 90%; min-width: 300px;
    }

    .container .content .content_txt .craft_nav > ul > li > a{
        display: inline-block;
        width: 100%;
    }

    
    .container .content .content_txt > ul{
        width: 90%; min-width: 300px;
        margin: 5% auto 0;
        padding: 22px 20px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 30px;
        position: relative;
        z-index: 2;
    }
    .container .content .content_txt > ul::after{
        width: 21%; height: 11%;
        background-size: 100% auto;
        right: 0; bottom: 0;
        transform: translate(-190%, -30%);
    }
    .container .content .content_txt > ul > li{
        width: 100%;
        margin-bottom: 43px;
    }
    .container .content .content_txt > ul > li > div{
        border: 3px solid #ffcd46;
    }
    .container .content .content_txt > ul > li > div > iframe{
        width: 100%; height: 45vw;
    }
    .container .content .content_txt > ul > li > h3{
        margin-top: 18px;
        font-size: 1.143em;
        font-weight: bold;
    }
    .container .content .content_txt > ul > li:nth-child(3) > h3{ margin-bottom: 70px; }
}
/* =======================768 end========================== */