@import url(./common.css);



.container .content{ 
    width: 100%; 
    margin-bottom: -120px;
}
.container .content .content_title{ 
    width: 100%; min-height: 250px;
    padding: 90px 0; /* 4.737% */
    position: relative;
    background-color: #00a0e9;
    z-index: 1;
}
/* .container .content .content_title::before{ 
    content:'';
    position: absolute;
    width: 49.474%; height: 78.95%; 
    background: url(../img/common/cloud_left.gif) no-repeat left center, url(../img/common/cloud_right.gif) no-repeat right center;
    left: 24.5%; bottom: 21%;
} */
.container .content .content_title .title_deco{
    width: 49.474%; height: 78.95%;
    min-width: 940px;
    margin: -3% auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.container .content .content_title .title_deco > figure{ width: 150px; height: 150px; }
.container .content .content_title .title_deco > figure > img{ width: 100%; }
.container .content .content_title::after{
    content: '';
    position: absolute;
    background: url(../img/common/frame_ice.png) repeat-x left bottom;
    width: 100%; height: 45px;
    bottom: 0;
}
.container .content .content_title > h2{ 
    width: 28.948%; min-width: 550px;
    margin: -90px auto 0;
}
.container .content .content_title > h2 > img{ width: 100%; }

.container .content .content_txt{ 
    width: 100%; height: 100%;
    min-width: 1000px;
    margin-top: 140px;
    background-color: #00a1e9;
    position: relative;
    padding-bottom: 9.474%;
}
.container .content .content_txt::before{
    content: '';
    background: url(../img/common/bg/bg_light_blue.png) repeat-x left top;
    position: absolute;
    width: 100%; height: 21px;
    top: -21px;
    animation: bg_light_blue 30s linear infinite;
    z-index: 0;
}
@keyframes bg_light_blue{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container .content .snow{ z-index: 1;}
.container .content .content_txt .craft_nav{ width: 100%; height: 123px; }
.container .content .content_txt .craft_nav > ul{ 
    width: 34.737%; min-width: 660px;
    margin: 0 auto;    
    position: relative;
    top: -40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .content .content_txt .craft_nav > ul > li{ 
    width: 46.97%;
    z-index: 2;
    position: absolute; 
}
.container .content .content_txt .craft_nav > ul > li:nth-child(2){ 
    position: absolute;
    left: 350px; top: -60px; 
}
.container .content .content_txt .craft_nav > ul > li > a{
    display: inline-block;
    width: 100%;
}
.container .content .content_txt .craft_nav > ul > li:nth-child(1) > a{
    cursor: default;
}
.container .content .content_txt .craft_nav > ul > li:nth-child(2) > a{
    transition: 0.2s ease;
}
.container .content .content_txt .craft_nav > ul > li:nth-child(2) > a:hover{
    transform: translateY(-5%);
}
.container .content .content_txt .craft_nav > ul > li > img{ width: 100%; }

.container .content .content_txt .craft{
    margin: 0 auto;
    width: 52.632%; min-width: 1000px;
}
.container .content .content_txt .craft > li{
    width: 100%; height: 100%;
    background-color: #fff;
    margin-bottom: 40px;
    padding: 20px 30px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.container .content .content_txt .craft > li > p{ 
    width: 48.18%;
}
.container .content .content_txt .craft > li > p > img{ width: 100%; }
.container .content .content_txt .craft > li:nth-child(2) > p > img{ 
    vertical-align: bottom;
    margin: 25px 0 40px;
}
.container .content .content_txt .craft > li > div{ 
    width: 38.545%;
    margin-left: 72px;
}
.container .content .content_txt .craft > li > div > h3{ width: 75%; }
.container .content .content_txt .craft > li > div > p{
    width: 100%;
    margin: 15px 0;
    font-size: 1.071em;
    line-height: 2em;
}
.container .content .content_txt .craft > li > div > a{ 
    width: 71.667%; height: 69.45px;
    display: block;
    background: url(../img/special/btn_download_off.png) 0 0 / cover no-repeat;
    transition: 0.4s ease;
}
.container .content .content_txt .craft > li > div > a:hover{
    background: url(../img/special/btn_download_on.png) 0 0 / cover no-repeat;
    width: 71.667%;
} 
.container .content .content_txt .craft > li > div > a > img{ width: 100%; }
.container .content .content_txt .craft > li:nth-child(3){
    padding: 20px 50px 40px;
    text-align: left;
    border: 3px solid #fff;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 2em;
}
.container .content .content_txt .craft > li:nth-child(3) > h3{
    margin-top: 12px;
    width: 100%;
    font-weight: bold;
}
.container .content .content_txt .craft > li:nth-child(3) > p{
    width: 65.997%;
}
.container .content .content_txt .craft > li:nth-child(3) > a{
    padding: 15px 60px;
    margin: 18px 0 0 25px;
    border-radius: 3%;
    display: block;
    background-color: #fff;
    border-radius: 30px;
}
.container .content .content_txt .craft > li:nth-child(3) > a > img{ 
    width: 100%; 
    transition: 0.2s ease;
}
.container .content .content_txt .craft > li:nth-child(3) > a > img:hover{ 
    transform: translateY(-15%);
}

