@import url(./common.css);



.container .content .content_title{ 
    width: 100%; min-height: 250px;
    padding: 90px 0; /* 4.737% */
    position: relative;
    background-color: #00a0e9;
}
/* .container .content .content_title::before{ 
    content:'';
    position: absolute;
    width: 49.474%; height: 78.95%; 
    background: url(../img/common/cloud_left.gif) no-repeat left center, url(../img/common/cloud_right.gif) no-repeat right center;
    left: 24.5%; bottom: 21%;
} */
.container .content .content_title .title_deco{
    width: 49.474%; height: 78.95%;
    min-width: 940px;
    margin: -3% auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.container .content .content_title .title_deco > figure{ width: 150px; height: 150px; }
.container .content .content_title .title_deco > figure > img{ width: 100%; }
.container .content .content_title::after{
    content: '';
    position: absolute;
    background: url(../img/common/frame_ice.png) repeat-x left bottom;
    width: 100%; height: 45px;
    bottom: 0;
}
.container .content .content_title > h2{ 
    width: 28.948%; min-width: 550px;
    margin: -90px auto 0;
}
.container .content .content_title > h2 > img{ width: 100%; }

.container .content .content_txt{ 
    width: 100%;
    padding-top: 135px;
}
.container .content .content_txt .film_nav{
    background-color: #ff7d9d;
    position: relative;
    padding: 65px 0;
    width: 100%; height: 100%;
}
.container .content .content_txt .film_nav::before{
    content: '';
    width: 100%; height: 21px;
    position: absolute;
    background: url(../img/common/bg/bg_pink.png) repeat-x left top;
    left: 0; top: -21px;
    animation: bg_pink 30s linear infinite;
}
@keyframes bg_pink{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container .content .content_txt .film_nav::after{
    content: '';
    width: 100%; height: 21px;
    position: absolute;
    background: url(../img/common/bg/bg_pink_bottom.png) repeat-x left bottom;
    left: 0; bottom: -21px;
    animation: bg_pink_btm 30s linear infinite;
}
@keyframes bg_pink_btm{
    0%{ background-position: 0 0; }
    100%{ background-position: -100% 0; }
}
.container .content .content_txt .film_nav > ul{ 
    width: 44.526%; height: 100%;
    min-width: 845px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container .content .content_txt .film_nav > ul > li{ 
    width: 30.734%;
    margin-top: -110px;
    z-index: 1;
}
.container .content .content_txt .film_nav > ul > li:nth-child(3){
    margin-top: -190px;
}
.container .content .content_txt .film_nav > ul > li > a{
    display: inline-block;
    width: 100%;
}
.container .content .content_txt .film_nav > ul > li:nth-child(1) > a{
    transition: 0.2s ease;
}
.container .content .content_txt .film_nav > ul > li:nth-child(2) > a{
    transition: 0.2s ease;
}
.container .content .content_txt .film_nav > ul > li:nth-child(3) > a{
    cursor: default;
}
.container .content .content_txt .film_nav > ul > li:nth-child(1) > a:hover{
    transform: translateY(-5%);
}
.container .content .content_txt .film_nav > ul > li:nth-child(2) > a:hover{
    transform: translateY(-5%);
}
.container .content .content_txt .film_nav > ul > li > a > img{ width: 100%; }

.container .content .content_txt .index{ 
    width: 100%; 
    margin: 0 auto;
}
.container .content .content_txt .index .index_txt{
    width: 100%;
}
.container .content .content_txt .index .index_txt > p{
    width: 50.526%; min-width: 960px;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 1.571em;
    color: #00a0e9;
    font-weight: bold;
    text-align: center;
    line-height: 2;
    letter-spacing: 0.25em;
}
.container .content .content_txt .index > div{
    width: 52.632%; min-width: 1000px;
    margin: 95px auto 76px;
}
.container .content .content_txt .index > div > ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container .content .content_txt .index > div > ul > li{
    width: 30.5%;
    margin: 0 0 63px 0;
}
.container .content .content_txt .index > div > ul > li > figure{ width: 100%;}
.container .content .content_txt .index > div > ul > li > figure > img{ width: 100%; }


